:root{
    --box-height : 550px;
    --box-width : 1000px;
    --box-left-margin : calc(-1 * var(--box-width)/2);
    --box-top-margin : calc(-1 * var(--box-height)/2);
    --body-bg-color : #222831;
}

body{
    background-color: var(--body-bg-color);
}

.game-box{
    width: var(--box-width);
    height: var(--box-height);
    margin : 50 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: var(--box-top-margin);  
    margin-left: var(--box-left-margin);
}


